<h1 class="text-center text-danger">Gestion des Bibliothèques du VAR</h1>
<div class="container-fluid ">
    <h5 class="text-center mt-4">Utilité de cette application</h5>
    <p class="text-center mt-4"><strong> Cette application gère la gestion des nos bibliothèques du VAR.</strong></p>
            <p class="text-center mt-4"><strong> Vous trouverez toutes les informations necessaires(L'adresse,les
                    contacts,les documents et les livres disponibles)

                </strong></p>

            <p class="text-center"><strong>De plus,on peut ajouter tout le temps les nouveaux Bibliothèques,et on peut
                    les modifier ou les supprimer.</strong></p>

                    <!-- <nav class="navbar navbar-light bg-light">
                        <form class="form-inline"(ngSubmit)="jeCherche(lr)"#lr="ngForm">
                          <input class="form-control mr-sm-2" ngModel name="chercher">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                      </nav> -->